{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": ["error"],
        "import/no-unresolved": "off",
        "import/order": [
            "error",
            {
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ],
        "import/newline-after-import": ["error"]
    },
    "settings": {
        "react": {
            "version": "latest"
        }
    }
}
